/*===============================
Sommario:
1. RESET
2. LAYOUT
    A: Container principali
        - HEADER
        - MAIN
        - FOOTER
    B: Container con 3 colonne
3. CLASSI DI UTILITA'
    A: Colori Background
    B: Clearfix
===============================*/

/*----------------- 1. RESET -----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------- 2. LAYOUT -----------------*/

/* >> A. Container principali >> */

.container {
  width: 80%;
  margin: auto;
}

/*HEADER*/
header {
  padding: 25px 0;
}

.container.violet {
  height: 130px;
  margin: auto;
}

/*MAIN*/

.container.yellow {
  height: 500px;
  margin-bottom: 25px;
}

/* .container.blue -> l'height è determinata dal contenuto:
vedi "B. Container con 3 colonne"*/

/*FOOTER*/

footer {
  padding: 10px 0 20px;
}

.container.purple {
  height: 80px;
}

/* >> B. Container con 3 colonne >> */

.three_columns_header {
  height: 100px;
  margin-bottom: 15px;
}

.column {
  height: 550px;
  float: left;
  width: 30%;
  margin-bottom: 15px;
}

.column.center {
  width: calc(40% - 20px);
  /*Viene sottratto lo spessore dei margini per non eccedere
  il 100% della larghezza del container con la somma delle
  tre colonne*/
  margin-left: 10px;
  margin-right: 10px;
}

/*------------ 3. CLASSI DI UTILITA' ------------*/

/* >> A. Colori background >> */

.violet {
  background: violet;
}

.yellow {
  background: gold;
}

.blue {
  background: cornflowerblue;
}

.lightblue {
  background: lightblue;
}

.purple {
  background: purple;
}

/* >> B. Clearfix >> */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
